* {
  box-sizing: border-box;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background-chat: #f3f3f3;
  --color-status-msg: #dcdcdc;
  --color-private-msg: #ffdede;
  --color-text-time: #aaaaaa;
  --color-text-sending-msg: #505050;
  --color-login-input: #aeaeae;
  --color-text-login-button: #696969;
  --color-login-button: #e7e7e7;
  --color-selected: #28bb25;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--color-background-chat);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
header {
  width: 100%;
  height: 80px;
  padding: 0 22px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--color-white);
}
ion-icon {
  width: 42.19px;
  height: 30.94px;
}
img {
  width: 75px;
  height: 53px;
}
.login-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: var(--color-white);
}
.login-image {
  width: 130px;
  height: 92px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}
.login-input {
  height: 54px;
  border: 1px solid var(--color-login-input);
  border-radius: 4px;
  color: var(--color-login-input);
  background-color: var(--color-white);
  outline: none;
}
.login-button {
  height: 45px;
  border-radius: 9px;
  color: var(--color-text-login-button);
  background-color: var(--color-login-button);
  border: none;
}
.login-input,
.login-button {
  min-width: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-messages {
  width: 100%;
  height: auto;
  margin-top: 106px;
  margin-bottom: 80px;
}
.display-message {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: 14px;
  margin: 0 9px 0 8px;
}
.status-message,
.comum-message,
.private-message {
  margin-bottom: 4px;
}
.time {
  color: #aaaaaa;
  margin-right: 4px;
}
.status-message {
  background-color: #dcdcdc;
}
.comum-message {
  background-color: #ffffff;
}
.private-message {
  background-color: #ffdede;
}
strong {
  font-weight: 700;
}
p {
  width: 100%;
  word-wrap: break-word;
}
.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 2;
}
.right-side {
  width: 66.67%;
  height: 100%;
  background-color: #ffffff;
  font-size: 16px;
  color: #000000;
  right: 0;
}
.empty {
  width: 33.33%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.contacts-top {
  height: 84px;
}
.visibility {
  height: 66px;
}
.contacts-top,
.visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}
.users-contacts,
.public,
.private {
  height: 36px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.contacts {
  height: auto;
}
.sidebar ion-icon {
  width: 20.31px;
  margin-right: 9px;
}
footer {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.container-bottom {
  height: 80px;
  margin: 0px 17px 0px 27px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.initial-message {
  outline: none;
  border: none;
  width: 100%;
}
.hidden {
  display: none;
}
