* {
  box-sizing: border-box;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background-chat: #f3f3f3;
  --color-status-msg: #dcdcdc;
  --color-private-msg: #ffdede;
  --color-text-time: #aaaaaa;
  --color-text-sending-msg: #505050;
  --color-login-input: #aeaeae;
  --color-text-login-button: #696969;
  --color-login-button: #e7e7e7;
  --color-selected: #28bb25;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--color-background-chat);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.header {
  width: 100%;
  height: 80px;
  padding: 0 22px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--color-white);
}
.icon-sidebar {
  width: 42.19px;
  height: 30.94px;
}
.header-logo {
  width: 75px;
  height: 53px;
}
.login-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: var(--color-white);
}
.login-image {
  width: 130px;
  height: 92px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}
.login-input {
  height: 54px;
  border: 1px solid var(--color-login-input);
  border-radius: 4px;
  color: var(--color-login-input);
  background-color: var(--color-white);
  outline: none;
}
.login-button {
  height: 45px;
  border-radius: 9px;
  color: var(--color-text-login-button);
  background-color: var(--color-login-button);
  border: none;
}
.login-input,
.login-button {
  min-width: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-messages {
  width: 100%;
  height: 100%;
  padding: 106px 0 90px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.display-message {
  width: 100%;
  min-height: 40px;
  padding: 5px 9px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
}
.time {
  color: var(--color-text-time);
}
.status-message {
  background-color: var(--color-status-msg);
}
.regular-message {
  background-color: var(--color-white);
}
.private-message {
  background-color: var(--color-private-msg);
}
.bold-text {
  font-weight: 700;
}

.sidebar {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 2;
}
.right-side {
  width: 35%;
  height: 100%;
  right: 0;
  background-color: var(--color-white);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}
.left-side {
  width: calc(100% - 35%);
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.contacts {
  height: 84px;
}
.visibility {
  height: 66px;
}
.contacts,
.visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}
.users-contacts,
.public,
.private {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.selection-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-icon {
  font-size: 25px;
}
.visibility-icon {
  font-size: 22px;
}
.selected {
  color: var(--color-selected);
  font-size: 25px;
}
.footer {
  width: 100vw;
  height: 80px;
  padding: 0 17px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--color-white);
}
.send-message-container {
  width: calc(100% - 26px);
}
.send-message-input {
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  outline: none;
  border: none;
}
.send-message-input::placeholder {
  color: var(--color-black);
  font-style: italic;
}
.send-message-to {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: var(--color-text-sending-msg);
}
.send-message-icon {
  width: 26px;
  height: 26px;
}
.hidden {
  display: none;
}

@media (max-width: 700px) {
  .right-side {
    width: 66.67%;
  }
  .left-side {
    width: calc(100% - 66.67%);
  }
}
